body, html {
  height: 100%;
}

/* The hero image */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://github.com/CBArgento/BeautySalon/blob/master/assets/imgs/salon.jpg?raw=true");
  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.section1 {
  padding-top: 10px;
  height: auto;
  background-image: url("assets/imgs/scissors.PNG");
}

.section2 {
  <img class="mypic" src="assets/salon2.jpg">
  height: 50%;
  width: auto;
  text-align: center;
  color: black;
  padding-top: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 59px 0px 118px 0px;
  position: relative;
  box-sizing: border-box;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.discount {
 text-align: center;
 color: white;
 padding-left: 180px;
 padding-right: 180px;
}

.button {
  position: absolute;
}

.section4back {
  background-color:;
  padding-top: 80px;
  padding-bottom: 80px;
  width: auto;
}

#cardimg {
  height: 120px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.w3-quarter img {
  margin-bottom: -6px; cursor: pointer;
}
.w3-quarter img:hover {
  opacity: 0.6; transition: 0.3s;
}

#imgsec3 {
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 280px;
  width: 460px;
  
}

#socialimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#socialcards {
  padding-top: 20px;
}

#img1 {
  height: 220px;
  width: 420px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.divider {
  padding: 110px;
}

/** FONT EFECT **/
.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.hero-image2 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


#prices {
  font-size: 36px;
  text-align: center;
  background-color: white;
}

.price {
  font-family: 'Shadows Into Light', cursive;
  color: blue;
  font-size: 55px;
  font-weight: bold;
}

.list {
  color: gray;
}

.footer {
  background-image: url("/assets/imgs/map.PNG");
}